<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head>
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <script src="js/angular-1.0.1.min.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/bootstrap.js"></script>
    </head>
</head>
<body>
<div class="container-fluid" ng-controller="test1">
    <div class="row">
        <div class="span3">
            total number of :
            <section ng-repeat="book in books ">{{book.name}} : {{book.price}}----{{book.age}}</section>
            <p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label>查询：</label>
                <input ng-model="query">
            </div>
            <div class="form-group">
                <label>sort by:</label>
                <select ng-model="orderProp">
                    <option value="name">name</option>
                    <option value="age">age</option>
                </select>
            </div>
            <div class="form-group">
                <ul>
                    <li ng-repeat="book in books | filter:query | orderBy:orderProp">
                        {{book.name}}
                        <p>{{book.price}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>